body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
h1 {
  padding: 0;
  margin-top: 0;
}
.button {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #009ce2;
  color: #009ce2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #fff;
}
.button:hover {
  background: transparent;
  //border: 2px solid #009ce2;
  background-color: #009ce2;
  color: #fff;
}
#hNumber {
  border: 1px solid #009ce2;
  color: #009ce2;
}
.input-container {
  margin: 10px;
}
.input-container label {
  padding: 10px;
  display: inherit;
}
.input-container input {
  min-width: 180px;
}
.form-create-container {
  border:1px solid #009ce2;
  max-width: 500px;
  max-height: 300px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
}
.form {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}
#tArticle {
  min-width: 430px;
  min-height: 100px;
}
